@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px dotted orange; */
}

/* HEADER */

.header {
  background-color: #1F2937;
  color: #FFF;
}

.header .navbar {
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0;

  display: flex;
  justify-content: space-between;
}

.navbar .nav-links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;

  color: #F9FAF8;
}

.navbar a {
  font-size: 18px;
  text-decoration: none;

  color: #E5E7EB;
}

.hero {
  width: 1000px;
  margin: 0 auto;
  padding: 56px 0 72px 0;

  display: flex;
  gap: 24px;
}

.hero .column-1,
.hero .column-2 {
  flex: 1;
}

.hero .title {
  font-size: 48px;
  font-weight: 900;

  color: #F9FAF8;
}

.hero .subtitle {
  font-size: 18px;

  color: #E5E7EB;

  margin: 8px 0 12px 0;
}

button {
  background-color: #3882F6;
  color: white;

  border: none;
  border-radius: 8px;
  padding: 8px 32px;

  font-weight: bold;
  font-size: 16px;
}

.hero .placeholder {
  background-color: #5B5B5B;
  color: #FFF;

  height: 100%;

  text-align: center;
  align-content: center;
}